h1,
h2,
h3,
p {
  margin-block-start: 0;
}

h1,
h2,
h3 {
  color: var(--color-text);
}

h1 {
  font: var(--type-heading-lg-bold);
  letter-spacing: var(--tracking-heading);
}

h2 {
  font: var(--type-text-xl-semibold);
}

h3 {
  font: var(--type-text-lg-medium);
}

p {
  font: var(--type-text-md-regular);
}

@media (width <= 48rem) {
  h1 {
    font: var(--type-heading-lg-bold-compact);
  }
}
